#main tr:hover:not(.active) td {
	background-color: lightgrey;
	cursor: pointer;
}

tr.active td {
	background-color: white;
}

table thead tr:not(:first-child) th {
	border-top: 1px solid lightgrey;
}

.popup {
	background: rgba(250, 250, 250, .95);
    border-radius: .3em;
	z-index: 999;
    position: absolute;
}

#typeahead .row {
	cursor: pointer;
}

#typeahead .row.active{
	border-left: .25rem solid #1565c0;
}


#modal-body {
	max-height: 100vh;
	/* max-width: 120vh; */
}

.header {
	cursor: pointer;
	padding-right: 2em;
}

.header-icon {
	cursor: pointer;
	float: right;
}

.wait {
    cursor: wait !important;
}
