#main tr:hover:not(.active) td {
	background-color: lightgrey;
	cursor: pointer;
}

tr.active td {
	background-color: white;
}

#typeahead {
	background: rgba(250, 250, 250, .95);
    border-radius: .3em;
}

#typeahead .row {
	cursor: pointer;
}

#typeahead .row:hover,  #typeahead .row.active{
	background: whitesmoke;
}

#typeahead-arrow {
	height: 0;
	position: absolute;
	width: 0;
    left: 10px;
	border: 10px solid transparent;
	border-right-color: #DA362A;
	overflow: visible;
}
}
